{% extends 'rent/homepage.html' %} {% load static %} {% block main_page %}
<style>
  /* Style the Image Used to Trigger the Modal */
  #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #myImg:hover {
    opacity: 0.7;
  }

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  }

  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    top: 20%;
    width: 50%;
    max-width: 500px;
  }

  /* Add Animation - Zoom in the Modal */
  .modal-content,
  #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @keyframes zoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

  /* The Close Button */
  .close {
    position: absolute;
    top: 100px;
    right: 15px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px) {
    .modal-content {
      width: 100%;
    }
  }
</style>
<div class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header bg-primary">
        <h3 class="card-title">List of All {{ obj_model.capitalize }}</h3>
      </div>
      <div class="card-body">
        <a
          class="btn btn-outline-primary float-right mb-3"
          href="{% url 'register-building' %}"
          >Add New Building</a
        >
        <table
          id="example1"
          class="table table-bordered table-striped"
          width="100%"
        >
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Address</th>
              {% if data.img %}
              <th>Buidling Image</th>
              {%endif%}
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% if object_list.count > 0 %} {% for data in object_list %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ data.name }}</td>
              <td>{{ data.address }}</td>
              <!-- Trigger the Modal -->
              {% if data.img %}
              <td>
                <button id="myImg">show</button>

                <!-- The Modal -->
                <div id="myModal" class="modal">
                  <!-- The Close Button -->
                  <span class="close">&times;</span>

                  <!-- Modal Content (The Image) -->
                  <img
                    class="modal-content"
                    id="img01"
                    src="{{ data.img.url }}"
                    style="width: 100%; max-width: 300px"
                  />

                  <!-- Modal Caption (Image Text) -->
                </div>
              </td>
              {%else%}
              <td>No Image</td>
              {%endif%}

              <td class="product-action d-flex">
                <a
                  class="btn btn-info btn-sm mr-3"
                  href="{% url 'update-building' pk=data.id %}"
                >
                  <i class="fas fa-pencil-alt"> </i>
                  Edit
                </a>
                <a
                  class="btn btn-danger btn-sm mr-3"
                  href="{% url 'delete-building' pk=data.id  %}"
                >
                  <i class="fas fa-trash"> </i>
                  Delete
                </a>
              </td>
            </tr>
            {% endfor %} {% else %}
            <tr>
              <td colspan="4" class="dataTables_empty text-center" valign="top">
                No records found
              </td>
            </tr>

            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock main_page %} {% block scripts %} {% load static %}
<script>
  var modal = document.getElementById("myModal");

  // Get the image and insert it inside the modal - use its "alt" text as a caption
  var img = document.getElementById("myImg");
  var modalImg = document.getElementById("img01");
  var captionText = document.getElementById("caption");
  img.onclick = function () {
    modal.style.display = "block";
    modalImg.src;
  };

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks on <span> (x), close the modal
  span.onclick = function () {
    modal.style.display = "none";
  };
</script>
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<script>
  $(function () {
    $("#example1")
      .DataTable({
        scrollX: true,
        buttons: ["copy", "excel", "pdf", "print"],
      })
      .buttons()
      .container()
      .appendTo("#example1_wrapper .col-md-3:eq(0)");
  });
</script>
{% if messages %} {% for message in messages %}
<script>
  $(function () {
    var Toast = Swal.mixin({
      toast: true,
      position: "top-end",
      showConfirmButton: false,
      timer: 3000,
    });
    Toast.fire({
      icon: "{{ message.tags }}",
      title: "{{ message|safe }}",
    });
  });
</script>
{% endfor %} {% endif %} {% endblock scripts %}
