{% extends 'rent/homepage.html' %}

{% block main_page %}
<div class="content">
    <div class="container-fluid">
        <div id='example1' class="card">
            <div class="card-header bg-primary">
                <h3 class="card-title">
                    Payment For: {{object.renter}}
                </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="info-box bg-light">
                            <div class="info-box-content">
                                <span class="info-box-text text-center text-muted">
                                    Room No
                                </span>
                                <span class="info-box-number text-center text-muted">
                                    {{object.renter.room}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="info-box bg-light">
                            <div class="info-box-content">
                                <span class="info-box-text text-center text-muted">
                                    Amount Paid
                                </span>
                                <span class="info-box-number text-center text-muted">
                                    {{object.amount}} Birr.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="info-box bg-light">
                            <div class="info-box-content">
                                <span class="info-box-text text-center text-muted">
                                    Created By
                                </span>
                                <span class="info-box-number text-center text-muted">                                                                
                                    <span class="text-success">{{object.created_by}}</span>                                
                                </span>
                            </div>
                        </div>
                    </div> 
                </div>
                <dl class="row">
                    <dt class="col-sm-4">
                        Room No.
                    </dt>
                    <dd class="col-sm-8">
                        {{ object.renter.room}}
                    </dd>
                    <dt class="col-sm-4">
                        No Of Months
                    </dt>
                    <dd class="col-sm-8">
                        {{ object.no_of_months}} {% if object.no_of_months == 1  %} Month {% else%} Months {% endif %} 
                    </dd>
                    <dt class="col-sm-4">
                        Invoice No
                    </dt>
                    <dd class="col-sm-8">
                        {{ object.invoice_no }}
                    </dd>
                    <dt class="col-sm-4">
                        Slip No
                    </dt>
                    <dd class="col-sm-8">
                        {{ object.slip_no }}
                    </dd>
                </dl>
            </div>
            
        </div>
        <input class='btn btn-primary ml-auto' type="button" value="Print" onclick="printDiv()">             
    </div>
</div>
{% endblock main_page %}

{% block scripts %}
    {% load static %}

        <script>
            function printDiv() {
                var divContents = document.getElementById("example1").innerHTML;
                var a = window.open('', '', 'height=1000, width=1000');
                a.document.write(divContents);
                a.document.close();
                a.print();
                divContents.print();
            }
        </script>        
    
    {% if messages %}
        {% for message in messages %}
            <script>
                $(function(){
                var Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                });
                    Toast.fire({
                        icon:'{{ message.tags }}',
                        title:"{{ message|safe }}"
                    })
                })
            </script>
        {% endfor %}
    {% endif %}
    
{% endblock scripts %}