{% extends 'rent/homepage.html' %}
{% load static %}

{% block main_page %}
<div class="content">
    <div class="container-fluid">
        <div class="card">
            
            <div class="card-header bg-primary">
                <h3 class="card-title ">List of All {{ obj_model.capitalize }}</h3>
            </div>
            <div class="card-body">
                {% if obj_model == 'renter' %}
                    {% if renter_add_permission %}
                        <a class="btn btn-outline-primary float-right mb-3"href="{% url 'register-renters' %}">
                            Add New Renter</a>
                    {% endif %}
                {% elif obj_model == 'room' %}
                    {% if room_add_permission %}
                        <a class="btn btn-outline-primary float-right mb-3" href="{% url 'register-rooms' %}">
                        Add New Room</a>
                    {% endif %}
                {% elif obj_model == 'payment' %}
                    {% if payment_add_permission %}
                        <a class="btn btn-outline-primary float-right mb-3" href="{% url 'register-payments' %}"> 
                            Add New Payment </a>
                    {% endif %}
                {% endif %}
                <table id="example1" class="table table-bordered table-striped" width="100%">
                    <thead>
                        {% if obj_model == "renter" %}
                            <tr>
                                <th>#</th>
                                <th>Full Name</th>
                                <th>Company Name</th>
                                <th>Phone Number</th>
                                <th>Tin Number</th>
                                <th>Room No.</th>
                                <th>Action</th>
                            </tr>
                        {% elif obj_model == 'room' %}
                            <tr>
                                <th>#</th>
                                <th>Room No.</th>
                                <th>Total Price</th>
                                <th>Area</th>
                                <th>Occupation</th>
                                <th>Action</th>
                            </tr>
                        {% elif obj_model == 'payment'%}
                            <tr>
                                <th>#</th>
                                <th>Renter</th>
                                <th>Room No</th>
                                <th>No Of Months</th>
                                <th>Total Paid Amount</th>
                                <th>Actions</th>

                            </tr>
                        {% endif %}
                    </thead>
                    <tbody>
                    {% if object_list.count > 0 %}
                        {% for data in object_list %}
                            {% if obj_model == "renter" %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ data.full_name }}</td>
                                <td>{{ data.company_name }}</td>
                                <td>{{ data.phone }}</td>        
                                <td>{{ data.tin_no }}</td>        
                                <td >{{data.room}}</td>
                                
                                <td class="product-action d-flex"><a class="btn btn-primary btn-sm mr-3" href="{% url 'detail-renter' pk=data.id %}">
                                    <i class="fas fa-folder"></i>
                                    View</a>
                                    {% if renter_change_permission %}
                                        <a class="btn btn-info btn-sm mr-3" href="{% url 'update-renter' pk=data.id %}">
                                            <i class="fas fa-pencil-alt">
                                            </i>
                                            Edit
                                        </a>
                                    {% endif %}
                                    {% if renter_delete_permission %}
                                        <a class="btn btn-danger btn-sm mr-3" href="{% url 'delete-renter' pk=data.id %}">
                                            <i class="fas fa-trash">
                                            </i>
                                            Delete
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% elif obj_model == "room" %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ data.room_no }}</td>
                                <td>{{ data.total_price }}</td>
                                <td>{{ data.area }}</td>
                                {% if data.status == "occupied" %}
                                    <td class = "text-danger">Occupied</td>
                                {% elif data.status == "vacant" %}
                                    <td class = "text-success">Vacant</td>
                                {% elif data.status == "under maintenance" %}
                                    <td class = "text-warning">Under Maintenance</td>
                                {% elif data.status == "not for rent" %}
                                    <td class = "text-secondary">Not For Rent</td>
                                {% else %}
                                    <td class = "text-info">Not Yet Assigned</td>
                                {% endif %}
                                <td class="product-action d-flex"><a class="btn btn-primary btn-sm mr-3" href="{% url 'detail-room' data.id %}">
                                    <i class="fas fa-folder"></i>
                                    View</a>
                                    {% if room_change_permission %}
                                        <a class="btn btn-info btn-sm mr-3" href="{% url 'update-room' pk=data.id %}">
                                            <i class="fas fa-pencil-alt">
                                            </i>
                                            Edit
                                        </a>
                                    {% endif %}
                                    {% if room_delete_permission %}
                                        <a class="btn btn-danger btn-sm mr-3" href="{% url 'delete-room' pk=data.id %}">
                                            <i class="fas fa-trash">
                                            </i>
                                            Delete
                                        </a> 
                                    {% endif %}
                                </td>

                        {% elif obj_model == "payment"%}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ data.renter.full_name }}</td>
                                <td >{{data.renter.room}}</td>
                                <td>{{ data.no_of_months }}</td>        
                                <td >{{data.new_paid}}</td>
                                
                                
                                <td class="product-action d-flex"><a class="btn btn-primary btn-sm mr-3" href="{% url 'detail-payment' data.id  %}">
                                    <i class="fas fa-folder"></i>
                                    View</a>
                                    {% if payment_change_permission %}
                                        <a class="btn btn-info btn-sm mr-3" href="{% url 'update-payment' pk=data.id %}">
                                            <i class="fas fa-pencil-alt">
                                            </i>
                                            Edit
                                        </a>
                                    {% endif %}
                                    {% if payment_delete_permission %}
                                    <a class="btn btn-danger btn-sm mr-3" href="{% url 'payment-delete' pk=data.id  %}">
                                        <i class="fas fa-trash">
                                        </i>
                                        Delete
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>


                        {% endif %}
                    {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="6" class="dataTables_empty text-center" valign="top">No records found</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock main_page %}


{% block scripts %}
{% load static %}
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script> 
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<script>
  $(function () {
    $("#example1").DataTable({"scrollX":true,
      "buttons": ["copy", "excel", "pdf", "print"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
  });
</script>
{% if messages %}
    {% for message in messages %}
        <script>
            $(function(){
              var Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });
                Toast.fire({
                    icon:'success',
                    title:"{{ message|safe }}"
                })
            })
        </script>
    {% endfor %}
{% endif %}

{% endblock scripts %}