{% extends 'rent/homepage.html' %}
{% load static %}

{% block main_page %}
{% comment %} <head> 
    <!-- DataTable -->
    <link rel="stylesheet" type="text/css" href="{% static  'DataTables/datatables.css'%}">
</head> {% endcomment %}
<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header bg-primary">
                <h3 class="card-title ">List of {{ obj_model.capitalize }}</h3>
            </div>
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped" width="100%">
                    <thead>
                        <tr class="sorting sorting_desc">
                            <th >#</th>
                            <th>Full Name</th>
                            <th>Room</th>
                            <th>Chat Id</th>
                            <th>payable Months</th>
                            <th>Outstanding Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if object_list|length > 0 %}
                            {% for data in object_list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ data.renter }}</td>
                                    <td>{{ data.renter.room }}</td>
                                    <td>{{ data.renter.chat_id }}</td>
                                    <td>{{ data.payable_month}}</td>
                                    <td>{{ data.outstanding_balance  }}</td>
                                </tr>
                            {% endfor %}
                            
                        {% else %}
                            <tr>
                                <td colspan="7" class="dataTables_empty text-center" valign="top">No records found</td>
                            </tr>
                        {% endif %}
                            
                            
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock main_page %}
        

{% load static %}
{% block scripts %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
    <script>
        $(function () {
        $("#example1").DataTable({
            select: true , 
            select: {
                style: 'multi'
            },
            dom: 'Blfrtip',
            buttons: [
                'selectAll',
                'selectNone',
                'copy',
                'print',
                'csv',
            ],
            language: {
                buttons: {
                    selectAll: "Select all items",
                    selectNone: "Select none"
                }
            },
            "scrollX":true,
            "buttons": ["copy", "print", "csv", "pdf"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-7:eq(0)');
        });
    </script>
    {% if messages %}
        {% for message in messages %}
            <script>
                $(function(){
                    var Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                });
                    Toast.fire({
                        icon:'{{ message.tags }}',
                        title:"{{ message|safe }}"
                    })
                })
            </script>
        {% endfor %}
    {% endif %}
        
{% endblock scripts %}