{% extends 'rent/homepage.html' %}
{% load static %}

{% block main_page %}

<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header bg-primary">
                <h3 class="card-title ">List of {{ obj_model.capitalize }}</h3>
            </div>
            <div class="card-body">
                <form method='POST'>
                    {% csrf_token %}
                    <table id="example1" class="table table-bordered table-striped" width="100%">
                        <thead>
                            <tr class="sorting sorting_desc">
                                <th ><input type='checkbox' id="table_selector"></th>
                                <th >#</th>
                                <th>Full Name</th>
                                <th>Room</th>
                                <th>Chat Id</th>
                                <th>payable Months</th>
                                <th>Outstanding Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if object_list|length > 0 %}
                                {% for data in object_list %}
                                    <tr>
                                        <td><input type='checkbox' id="row{{ forloop.counter }}" name="selected_id" value = '{{data.id}}'></td>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ data.renter }}</td>
                                        <td>{{ data.renter.room }}</td>
                                        <td>{{ data.renter.chat_id }}</td>
                                        <td>{{ data.payable_month}}</td>
                                        <td>{{ data.outstanding_balance  }}</td>
                                    </tr>
                                {% endfor %}
                                
                            {% else %}
                                <tr>
                                    <td colspan="7" class="dataTables_empty text-center" valign="top">No records found</td>
                                </tr>
                            {% endif %}
                                
                                
                        </tbody>
                    </table>
                    <div class="card-footer">
                        <input type="Submit" class="btn btn-success float-right" value="Send">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock main_page %}
        

{% load static %}
{% block scripts %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
    <script>
        $(function () {
            const table = $("#example1").DataTable({
              "scrollX":true,
              "buttons": ["copy", "excel", "pdf", "print"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

            const tableSelector = $("#table_selector");

            const rowLength = parseInt('{{object_list|length}}')

            for (let row = 1; row <= rowLength; row++) {
                const element = $(`#row${[row]}`);
                element.on("click", ()=>{
                    var counter = 0;
                    for (let row2 = 1; row2 <= rowLength; row2++) {
                        if ($(`#row${row2}`).prop("checked")){
                            counter++
                        }
                    }
                    if (counter == rowLength){
                        tableSelector.prop("checked", true)
                    }
                    else{
                        tableSelector.prop("checked", false)
                    }
                })
                element.parent().parent().on("click", ()=>{
                    if (element.prop("checked")){
                        element.prop("checked", false)
                    }
                    else{
                        element.prop("checked", true)
                    }

                    var counter = 0;
                    for (let row2 = 1; row2 <= rowLength; row2++) {
                        if ($(`#row${row2}`).prop("checked")){
                            counter++
                        }
                    }
                    if (counter == rowLength){
                        tableSelector.prop("checked", true)
                    }
                    else{
                        tableSelector.prop("checked", false)
                    }
                })
                
            }

            tableSelector.on("click", (e)=>{
                if (tableSelector.prop("checked")){
                    for (let row = 1; row <= rowLength; row++) {
                        const element = $(`#row${[row]}`);
                        element.prop("checked", true)
                        
                    }
                }
                else{
                    for (let row = 1; row <= rowLength; row++) {
                        const element = $(`#row${[row]}`);
                        element.prop("checked", false)
                        
                    }
                }
            })


          });
    </script>
    {% if messages %}
        {% for message in messages %}
            <script>
                $(function(){
                    var Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                });
                    Toast.fire({
                        icon:'{{ message.tags }}',
                        title:"{{ message|safe }}"
                    })
                })
            </script>
        {% endfor %}
    {% endif %}
        
{% endblock scripts %}