{% extends 'rent/homepage.html' %}

{% block main_page %}

<div class="content">
    <div class="container-fluid">
    <div class="card">
      <div class="card-header bg-primary">
      {{card_header}}
      </div>
        
        <div class="card-body">

          {% if objects %}
            <h3>User: {{ object }}</h3>
          {% endif %} 

          <form class="form" method="POST">
            {% csrf_token %}
          {% for field in form %}
            {{field.id}}
            <div class="form-group ml-auto mr-auto w-75">
              {% for error in field.errors %}
                <span class="text-danger">
                <span class="fas fa-exclamation-triangle pr-2"></span>{{error}}<br>
                </span>
              {% endfor %}
              {{field.label}}
              {{field}}
            </div>
            {% endfor %}
            <div class="card-footer">
              <input type="Submit" class="btn btn-primary float-right ml-5" value="Done">
            </form>
            <button class="btn btn-danger float-right" onclick="javascript:history.go(-1);">Cancel</button>
          </div>
      </div>
      
    </div>
  </div>
</div>

{% endblock main_page %}



{% block scripts %}
<script>
    $(function(){
        const renterField = $("#id_renter");
        const monthField = $("#id_no_of_months");
        const amountField = $("#id_amount");
        const penalityField = $("#id_Penality");
        const vatField = $("#id_vat");
        let price;
        let penality;
        let vat;
        renterField.on("change",()=>{
            const value = renterField.val();
            if (parseInt(value)>0){
                fetch('{% url "room-price" %}' + `${value}/`).then((response)=>{response.json().then((data)=>{price = data.price; monthField.trigger("keyup")})})
                fetch('{% url "room-penality" %}' + `${value}/`).then((response)=>{response.json().then((data1)=>{penality = data1.penality; monthField.trigger("keyup")})})
                fetch('{% url "payment-vat" %}').then((response)=>{response.json().then((data2)=>{vat = data2.vat; monthField.trigger("keyup")})})
                
            }
        })

        monthField.on("keyup", ()=>{
          amountField.val(price * parseInt(monthField.val()));
          penalityField.val(penality);
          vatField.val(vat  * parseInt(amountField.val()));
        })
       
        
    });
</script>
{% endblock scripts %}
    